extends layout

block content
	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-4
				h1.text-center.login-title Welcome #{user.firstName}. Check your details below:
					div.signup-wall
						ul.user-details
							li Username ---> #{user.username}
							li Email    ---> #{user.email}
							li First Name ---> #{user.firstName} 
							li Last Name ---> #{user.lastName}
					a(href='/signout', class='text-center new-account btn btn-primary') Sign Out
					a(href='/editor', class='text-center new-account btn btn-primary') New Paper
					#query
    					form(name='search',action='/search',method='GET',role='form')
    						input.form-control(name='terms',type='text',value='#{query.query}',autofocus)
    						input.btn.btn-primary(name='button',type='submit',value='Search')
    					#results
	    					- if(query && !results.length)
	    						| No Results for <strong>#{query}</strong>
	    					- else if(results.length)
	    						h2 Results for <strong>#{query}</strong>
		    						each link in results
		    							article.well
			    							a(href='/editor/published/#{link._source.id}') #{link._source.title}
				    						p #{link._source.shortScript}
			